.reply-message-button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 100%;
    width: fit-content;
    position:absolute;
    right: -30px;
    top: 1px;
}

.reply-svg{
    fill: rgba(126, 126, 126, 0.582);
}
.reply-svg:hover{
    fill: rgba(0, 0, 0, 0.582);
    transform: scale(1.05);
    transition: ease-in-out 100ms;
}

.reply-message{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    background-color: #00000017;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sender-name{
    font-size: 12px;
}

.replied-message{
    text-overflow:ellipsis;
}

.replied-img{
    object-fit: cover;
    width: 50%;
    border-radius: 0px 10px 10px 0px;
}


.messageLine{
    transition: ease-in-out 1000ms;
    margin: 0px;
    padding:0px;
    width: 100%;
    display:flex;
    box-sizing: border-box;
} 

.customerMessageItem{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 35%;
    min-width: 20%;
    padding: 2px;
    margin: 5px;;
    margin-right: 5px;
}
  
.operatorMessageItem{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9FDD3;
    border-radius: 5px;
    min-width: 18%;
    max-width: 35%;
    padding: 2px;
    margin: 5px;;
    margin-right: 5px;
}
  
 
.message-date{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    word-wrap: break-word;
    font-size: 10px;
}
.message-infos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2px 5px 0px 0px;
    align-items: flex-end;
} 

.message-failed-reason{
    color: red;
    font-size: 12px;
}
 
.customerSide{
    justify-content: flex-start;
}

.operatorSide{
    justify-content:flex-end;
}

.customer-name-in-message{
    font-size: 14px;
    padding: 1px 0px 0px 1px;
}

.media-container-without-background{
    display: flex;
    flex-direction: column;
}

.reaction-emoji{
    position: absolute;
    bottom: -10px;
    left: -5px;
    filter: drop-shadow(1px 1px 3px #00000093);
}