.interactions-footer-container{
    flex-grow: 1;
    border-radius: 5px;
    background-color: #F0F2F5;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .textarea-message{
    border-radius: 8px;
    color: black;
    background-color: #FFFFFF;
    outline: none;
    border-style: none;
    min-height: 50px;
    resize: none;
    flex-grow: 0;
    box-sizing: border-box;
    width: 65%;
    height: 90%;
    padding: 5px;
  }

  .expand-input-arrow{
    cursor: ns-resize; /* Show resize cursor */
    user-select: none; /* Prevent text selection */
    height: 4px;
    min-height: 4px;
    width: 100%;
    padding: 0px;
    background-color: #014d01;
    text-align: center;
    color: black;

  }

  .expand-input-arrow:hover{
    transition: all 200ms;
    height: 10px;
    background-color: #008000;
  }

  .interaction-resize-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .file-input{
    max-width: 4096px;
  }

  #sender_input{
    display:none; 
  }

  .img-sender-input{
    padding: 2px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .img-sender-input:hover{
    transform: scale(1.05);
    background-color: rgba(128, 128, 128, 0.192);
    transition: all ease-in-out 50ms;
  }

  .footer-container{
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: 20%;
  }

  .read-mode-footer-content{
    margin: auto;
  }


.microfone-input{
  padding: 2px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.popup-img{
    border-radius:5px;
    object-fit:fill;
    max-width: 100%;
    max-height: 30%;
}