.image-popup-container{
    background-color: #F0F2F5;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 39%);
    display: flex;
    flex-direction: column;
    padding: 2px;
    color: rgb(255, 8, 8);
    border-radius:5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.image-popup-container textarea{
    border-radius:5px;
    margin: 5px;
    color: black;
    background-color: white;
    outline: none;
    border-style: none;
    min-height: 50px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    max-width: calc(100% - 10px); /* Garante que o textarea não ultrapasse a largura máxima do contêiner */
    max-height: 200px; /* Ajusta a altura máxima conforme necessário */
    resize: vertical; /* Permite redimensionamento vertical */
}

.popup-img{
    margin: 5px;
    border-radius:5px;
    object-fit:fill;
    max-width: 100%;
    max-height: 500px;
}