/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-50?styles=16020'); */

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

#root {
  --message-bg-color: #D9FDD3;
  --button-green-color: #00DA86;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.3;
  font-weight: 200;
  color-scheme: light dark;
  color: rgb(99, 99, 99);
  background-color: #ffffff;
}

ul{
  margin: 0px;
}
input{
  margin: 5px;
  color: black;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: none;
  box-shadow: rgb(133 133 133) -1px 1px 6px 0px inset, rgba(255, 255, 255, 0.5) -15px -9px 6px 1px inset;
}

select{
  box-shadow: rgba(149, 157, 165, 0.322) 0px 8px 24px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: black;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(97, 97, 97) rgb(255, 255, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(94, 94, 94);
}

*::-webkit-scrollbar-thumb {
  background-color: #202C33;
  border-radius: 20px;
  border: 3px solid #202C33;
}
